<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <% if user_signed_in? %>
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar.variant(resize: "50!"), class:"rounded-circle" %>
    <% else %>
      <%= image_tag "default-profile-picture.jpg", width:30, height:30, class:"rounded-circle"%>
    <% end %> 
    <a class="navbar-brand mx-2 text-white"><%= current_user.username %></a>      
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>               
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(profiles_path) %>">
        <%= link_to  "Profile", profiles_path, class:"nav-link" %>
      </li>
      
      <li class="nav-item <%= 'active' if current_page?(task_lists_path) %> ">
        <%= link_to  "To Do Lists", task_lists_path, class:"nav-link" %>
      </li>      
      
    </ul>
        <%= link_to('Sign Out', destroy_user_session_path, class: 'nav-link btn btn-outline-danger', method: :delete) %>    
    <% else %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="nav-link font-weight-bold">Welcome to To Do List<div>
          </li>
        </ul>        
        <%= link_to 'Sign In', user_session_path, class: 'nav-link btn btn-outline-success' %>
    <% end %>
  </div>
</nav>