<div class= "bg-success">
    <%= @parametros %>
    
</div>
<div class= "bg-info">

    <%= params.inspect %>
</div>
<div class="my-4">
    <%= simple_form_for @task, url:task_list_tasks_path do |f| %>
        <%= f.input :description, required: true %>
        <%= f.button :submit, class: "btn-info" %>
    <% end %>
</div>




