<!DOCTYPE html>
<html>
<head>
	<title>Your TO DO's Lists</title>
	<meta charset="utf-8">
	<%= wicked_pdf_stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.3.1.slim.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" %>

</head>	
<body>
	<%= yield %>
</body>
</html>